/* Write your CSS here */
.title {
  color: #000000;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 700;
}
.button {
  border-style: solid;
  border-color: #ff0b37;
  border-width: 1px;
  color: #ff0b37;
  font-family: 'Roboto';
  font-size: 15px;
  background-color: transparent;
  height: 40px;
  width: 120px;
}
.list-todo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
