/* Write your CSS here */
.container {
  background-color: #ffc2a0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-container {
  background-color: #ffffff;
  border-radius: 10px;
  width: 80%;
  margin: 20px;
  padding: 20px;
}
.heading {
  color: #ff8542;
  font-family: 'Roboto';
  font-size: 30px;
  text-align: center;
  font-weight: 700;
}
